<a href="https://colab.research.google.com/github/2003a52071/statml/blob/main/project_MSE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
from google.colab import drive
drive.mount('/gdrive')

Mounted at /gdrive

In [4]:
data=pd.read_csv('/content/garments_worker_productivity (2).csv')

In [5]:
data.head()

         date   quarter  ... no_of_workers actual_productivity
0  01-01-2015  Quarter1  ...          59.0            0.940725
1  01-01-2015  Quarter1  ...           8.0            0.886500
2  01-01-2015  Quarter1  ...          30.5            0.800570
3  01-01-2015  Quarter1  ...          30.5            0.800570
4  01-01-2015  Quarter1  ...          56.0            0.800382

[5 rows x 15 columns]

In [6]:
y=data['actual_productivity']

In [40]:
x1=data['date']
x1=x1.replace("01-01-2015","1")

In [70]:
x2=data['quarter']
x2=x2.replace("Quarter1","1")
x2=x2.replace("Quarter2","2")
x2=x2.replace("Quarter3","3")
x2=x2.replace("Quarter4","4")
x2=x2.replace("Quarter5","5")

In [75]:
x3=data['department']
x3=x3.replace("sweing",1)
x3=x3.replace("finishing",2)
x3=x3.replace("finishing ",3)

In [58]:
 x4=data['day']
x4=x4.replace("Thursday","1")
x4=x4.replace("Saturday","2")
x4=x4.replace("Sunday","3")
x4=x4.replace("Monday","4")
x4=x4.replace("Tuesday","5")
x4=x4.replace("Wednesday","6")

In [104]:
 x5=data['team']

In [13]:
x6=data['targeted_productivity']

In [14]:
x7=data['smv']

In [15]:
x8=data['wip']

In [16]:
x9=data['over_time']

In [17]:
x10=data['incentive']

In [18]:
x11=data['idle_time']

In [19]:
x12=data['idle_men']

In [55]:
x13=data['no_of_style_change']

In [21]:
x14=data['no_of_workers']

In [76]:
ymean=[]
def linear(b0,b2,b3,b4,b5,b6,b7,b8,b9,b10,b11,b12,b13,b14):
  sum=0;
  ybar=[]
  ypp=[]
  for i in range(0,len(x1)):
    ybar.append(b0+b2*int(x2[i])+b3*int(x3[i])+b4*int(x4[i])+b5*int(x5[i])+b6*int(x6[i])+b7*int(x7[i])+b8*int(x8[i])+b9*int(x9[i])+b10*int(x10[i])+b11*int(x11[i])+b12*int(x12[i])+b13*int(x13[i])+b14*int(x14[i]))
  for i in range(0,len(x1)):
    ypp.append((y[i]-ybar[i])**2)
  for i in range(0,len(x1)):
    sum=sum+ypp[i]
  ymean.append(sum/len(x1))
for i in range(0,100):
  linear(i,i+2,i+3,i+4,i+5,i+6,i+7,i+8,i+9,i+10,i+11,i+12,i+13,i+14)

In [77]:
print(ymean)

[3549888223.53896, 4396437753.37579, 5333467237.673759, 6360976676.432896, 7478966069.653176, 8687435417.334608, 9986384719.47719, 11375813976.080936, 12855723187.145817, 14426112352.67187, 16086981472.65907, 17838330547.107437, 19680159576.01694, 21612468559.387608, 23635257497.219406, 25748526389.512447, 27952275236.26645, 30246504037.481815, 32631212793.158226, 35106401503.295815, 37672070167.89458, 40328218786.954414, 43074847360.47542, 45911955888.45763, 48839544370.90091, 51857612807.80547, 54966161199.17106, 58165189544.9979, 61454697845.28573, 64834686100.03497, 68305154309.24524, 71866102472.91655, 75517530591.04926, 79259438663.64304, 83091826690.6979, 87014694672.21378, 91028042608.19098, 95131870498.62917, 99326178343.5287, 103610966142.88937, 107986233896.71123, 112451981604.99402, 117008209267.73825, 121654916884.9436, 126392104456.60983, 131219771982.73741, 136137919463.32602, 141146546898.3761, 146245654287.88736, 151435241631.85934, 156715308930.29263, 162085856183.1868, 167546883390.54248, 173098390552.3595, 178740377668.63727, 184472844739.37634, 190295791764.57663, 196209218744.2381, 202213125678.36063, 208307512566.94418, 214492379409.9892, 220767726207.4951, 227133552959.46252, 233589859665.89032, 240136646326.7799, 246773912942.1305, 253501659511.94263, 260319886036.21506, 267228592514.94952, 274227778948.14468, 281317445335.8008, 288497591677.9182, 295768217974.4974, 303129324225.5372, 310580910431.0381, 318122976590.9999, 325755522705.42377, 333478548774.3076, 341292054797.65375, 349196040775.4606, 357190506707.7281, 365275452594.4575, 373450878435.64777, 381716784231.2989, 390073169981.411, 398520035685.9843, 407057381345.01953, 415685206958.5164, 424403512526.47327, 433212298048.8913, 442111563525.7711, 451101308957.11127, 460181534342.9127, 469352239683.17645, 478613424977.89935, 487965090227.0847, 497407235430.7313, 506939860588.8377, 516562965701.40735, 526276550768.4373]

In [103]:
c=0
if(ymean[0]<ymean[1]):
  result=ymean[0]
else:
  result=ymean[1]
for i in range(0,len(ymean)):
  if(result>ymean[i]):
    result=ymen[i]
    c=i
print("the less mean square error is",result)

the less mean square error is 3549888223.53896

In [106]:
print("the best beeta values for equation which has less mean square error is:")
print(c,c+2,c+3,c+4,c+5,c+6,c+7,c+8,c+9,c+10,c+11,c+12,c+13,c+14)
print("the equation for given x values which has less mean square error is:")
def linear(b0,b2,b3,b4,b5,b6,b7,b8,b9,b10,b11,b12,b13,b14):
  print('Ypp','=',b0,'+',b2,'x2','+',b3,'x3','+',b4,'x4','+',b5,'x5','+',b6,'x6','+',b7,'x7','+',b8,'x8','+',b9,'x9','+',b10,'x10','+',b11,'x11','+',b12,'x12','+',b13,'x13','+',b14,'x14')
linear(c,c+2,c+3,c+4,c+5,c+6,c+7,c+8,c+9,c+10,c+11,c+12,c+13,c+14)

the best beeta values for equation which has less mean square error is:
0 2 3 4 5 6 7 8 9 10 11 12 13 14
the equation for given x values which has less mean square error is:
Ypp = 0 + 2 x2 + 3 x3 + 4 x4 + 5 x5 + 6 x6 + 7 x7 + 8 x8 + 9 x9 + 10 x10 + 11 x11 + 12 x12 + 13 x13 + 14 x14