<a href="https://colab.research.google.com/github/2003a52071/statml/blob/main/Untitled6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [4]:
from google.colab import drive
drive.mount('/gdrive')

Mounted at /gdrive

In [5]:
with open('/gdrive/My Drive/foo.txt', 'w') as f:
  f.write('Hello Google Drive!')
!cat '/gdrive/My Drive/foo.txt'

Hello Google Drive!

In [7]:
data=pd.read_csv('/content/Real estate valuation data set.csv')

In [8]:
data.head()

   No  X1 transaction date  ...  X6 longitude  Y house price of unit area
0   1             2012.917  ...     121.54024                        37.9
1   2             2012.917  ...     121.53951                        42.2
2   3             2013.583  ...     121.54391                        47.3
3   4             2013.500  ...     121.54391                        54.8
4   5             2012.833  ...     121.54245                        43.1

[5 rows x 8 columns]

In [10]:
y=data['Y house price of unit area']

In [12]:
x6=data['X6 longitude']

In [13]:
x5=data['X5 latitude']

In [19]:
x4=data['X4 number of convenience stores']

In [20]:
x3=data['X3 distance to the nearest MRT station']

In [21]:
x2=data['X2 house age']

In [22]:
x1=data['X1 transaction date']

In [23]:
ymean=[]
def linear(b0,b1,b2,b3,b4,b5,b6):
  sum=0;
  ybar=[]
  ypp=[]
  for i in range(0,len(x1)):
    ybar.append(b0+b1*int(x1[i])+b2*int(x2[i])+b3*int(x3[i])+b4*int(x4[i])+b5*int(x5[i])+b6*int(x6[i]))
  for i in range(0,len(x1)):
    ypp.append((y[i]-ybar[i])**2)
  for i in range(0,len(x1)):
    sum=sum+ypp[i]
  ymean.append(sum/len(x1))
for i in range(0,100):
  linear(i,i+1,i+2,i+3,i+4,i+5,i+6)

In [24]:
print(ymean)

[272417204.346232, 479874059.364107, 745672404.2853624, 1069812239.1100003, 1452293563.83802, 1893116378.4694188, 2392280683.004203, 2949786477.442367, 3565633761.783911, 4239822536.0288367, 4972352800.177151, 5763224554.228835, 6612437798.183916, 7519992532.042371, 8485888755.804206, 9510126469.469421, 10592705673.03802, 11733626366.509998, 12932888549.885357, 14190492223.1641, 15506437386.346235, 16880724039.431732, 18313352182.42062, 19804321815.31291, 21353632938.108543, 22961285550.80758, 24627279653.409992, 26351615245.9158, 28134292328.324993, 29975310900.637554, 31874670962.853474, 33832372514.972794, 35848415556.9955, 37922800088.92159, 40055526110.75111, 42246593622.48391, 44496002624.12014, 46803753115.65976, 49169845097.10275, 51594278568.44915, 54077053529.69883, 56618169980.85205, 59217627921.90852, 61875427352.86844, 64591568273.7318, 67366050684.49837, 70198874585.16852, 73090039975.7419, 76039546856.2187, 79047395226.59892, 82113585086.88245, 85238116437.0695, 88420989277.1598, 91662203607.15355, 94961759427.05061, 98319656736.85123, 101735895536.55498, 105210475826.16228, 108743397605.67288, 112334660875.08684, 115984265634.40434, 119692211883.62497, 123458499622.74928, 127283128851.77672, 131166099570.70761, 135107411779.542, 139107065478.27948, 143165060666.92072, 147281397345.46512, 151456075513.913, 155689095172.26416, 159980456320.51855, 164330158958.67676, 168738203086.7381, 173204588704.70285, 177729315812.57092, 182312384410.34232, 186953794498.01727, 191653546075.59552, 196411639143.0773, 201228073700.46204, 206102849747.75058, 211035967284.94238, 216027426312.0375, 221077226829.03613, 226185368835.93784, 231351852332.7434, 236576677319.45197, 241859843796.06393, 247201351762.5796, 252601201218.9983, 258059392165.32077, 263575924601.54626, 269150798527.67505, 274784013943.70755, 280475570849.64325, 286225469245.48267, 292033709131.2252, 297900290506.8707, 303825213372.4199]

In [25]:
c=0
if(ymean[0]<ymean[1]):
  result=ymean[0]
else:
  result=ymean[1]
for i in range(0,len(ymean)):
  if(result>ymean[i]):
    result=ymen[i]
    c=i
print("the less mean square error is",result)

the less mean square error is 272417204.346232